DJANGO_SETTINGS_MODULE=config.settings.exam_edge
OBE_ENV=exam-edge
OBE_DEBUG=0
OBE_ALLOWED_HOSTS=exam-edge.obe.internal
DATABASE_URL_FILE=/run/secrets/edge_database_url
OBE_SECRET_KEY_FILE=/run/secrets/edge_secret_key
# Aktifkan *_FALLBACKS_FILE hanya selama overlap rotasi.
CELERY_BROKER_URL=amqps://broker.obe.internal/exam-edge
CELERY_RESULT_BACKEND=rediss://cache.obe.internal/1
CACHE_URL=rediss://cache.obe.internal/0
OBE_AI_ENABLED=0
OBE_EXAM_SIGNING_KEY_FILE=/run/secrets/edge_signing_key
OBE_EXAM_SYNC_TOKEN_FILE=/run/secrets/edge_sync_token
OBE_SECRET_KEY_ROTATED_AT=2026-07-01T00:00:00+07:00
DATABASE_PASSWORD_ROTATED_AT=2026-07-01T00:00:00+07:00
OBE_EXAM_SIGNING_KEY_ROTATED_AT=2026-07-01T00:00:00+07:00
OBE_EXAM_SYNC_TOKEN_ROTATED_AT=2026-07-01T00:00:00+07:00
