from rest_framework.response import Response
from rest_framework.views import APIView


class {{ ModuleName }}APIView(APIView):
    def get(self, request):
        return Response({"schema_version": "1.0", "data": []})
